<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Great+Vibes&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

	<link href="../css/main3.css" rel="stylesheet"/>
</head>
<body>

	
	
	<div class="center full">
	
		<div class="ramka">
			<div class="createPost margin">Create your post</div>
			
			<input type="text"  id="superi" placeholder="Wpisz tutaj adress url do obrazka :)"/>
			<div class="flex">
				<textarea placeholder="Napisz cos :)" id="text"></textarea>
				<div class="przycisk" onclick="zrob()">done</div>
			</div>
		</div>
	
	</div>
	
	

	<div style="height: 300px;"></div>

	<footer>
		<div class="center footer--center">
			Intagram 2.0 - dziekujemy za skozystanie z naszej witryny :)
		</div>
	</footer>
	
	<script src="../js/add.js"></script>
</body>
</html>